name: town-of-saviom-stack

# Include the sibling repositories
include:
  - path: login-api/docker-compose.yaml
    env_file: .env
  
  - path: lobby-api/docker-compose.yaml
    env_file: .env

  - path: gameplay-api/docker-compose.yaml
    env_file: .env

  - path: stats-api/docker-compose.yaml
    env_file: .env

  - path: town-of-saviom/docker-compose.yaml
    env_file: .env

# Define the Shared Network
networks:
  town-of-saviom-shared-net:
    external: true

volumes:
  login-db-data:
  lobby-db-data:
  gameplay-db-data:
  stats-db-data:

services:
  town-of-saviom-frontend:
    env_file:
      - .env
  login-api:
    env_file:
      - .env
  lobby-api:
    env_file:
      - .env
  gameplay-api:
    env_file:
      - .env
  stats-api:
    env_file:
      - .env

lobby-mongo: 
  volumes:
    - lobby-db-data:/data/db

login-mongo:
  volumes:
    - login-db-data:/data/db

gameplay-mongo:
  volumes:
    - gameplay-db-data:/data/db

stats-mongo:
  volumes:
    - stats-db-data:/data/db
  