name: town-of-saviom-stack

# Include the sibling repositories
include:
  - path: login-api/docker-compose.yaml
    env_file: .env
  
  - path: lobby-api/docker-compose.yaml
    env_file: .env

  - path: gameplay-api/docker-compose.yaml
    env_file: .env

  - path: stats-api/docker-compose.yaml
    env_file: .env

  - path: town-of-saviom/docker-compose.yaml
    env_file: .env

# Define the Shared Network
networks:
  town-of-saviom-shared-net:
    external: true

services:
  town-of-saviom-frontend:
    env_file:
      - .env
  login-api:
    env_file:
      - .env
  lobby-api:
    env_file:
      - .env
  gameplay-api:
    env_file:
      - .env
  stats-api:
    env_file:
      - .env
  